@import "../../assets/style/variable.scss";
.product{
    width: calc(100% / 3 - 55px);
    position: relative;
    padding: 16px;
    &:hover{
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    }
    figure{
        height: 338px;
        width: 100%;
        position: relative;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .out-of-stock{
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #8D8F9A;
        @include center;
    }
    .to-card{
        width: 52px;
        height: 52px;
        background-color: #5ECE7B;
        border-radius: 50%;
        @include center;
        position: absolute;
        bottom: -26px;
        right: 31px;
        cursor: pointer;
    }
    .product-content{
        p{
            font-weight: 300;
            font-size: 18px;
            color: $textColor;
            padding-bottom: 5px;
        }
        span{
            color : $textColor;
            font-size: 18px;
            font-weight: 500;
        }
    }
}