@import "../../assets/style/variable.scss";
header{
    height: 80px;
    width: 100%;
    .container{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        .category-list{
            display: flex;
            gap: 32px;
            &--item{
                text-transform: uppercase;
                cursor: pointer;
                position: relative;
                padding: 0 16px;
                &.active{
                    &::after{
                        content: "";
                        position: absolute;
                        background-color: #5ECE7B;
                        width: 100%;
                        height: 2px;
                        left: 0;
                        bottom: -30px;
                    }
                }
            }
        }
        .bag-wrapper{
            display: flex;
            align-items: center;
            .price-category{
                display: flex;
                align-items: center;
                padding-right: 22px;
                position: relative;
                cursor: pointer;
                z-index: 999999;
                span{
                    padding-right: 10px;
                }
                .currency-category{
                    position: absolute;
                    top: 25px;
                    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
                    @include center;
                    padding: 20px;
                    left: -20px;
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }
                }
            }
            .bag{
                cursor: pointer;
                position: relative;
                .bag-items--length{
                    position: absolute;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    @include center;
                    background-color: $textColor;
                    color: #fff;
                    bottom: 15px;
                    left: 15px;
                }
            }
        }
    }
}